@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
.password-generator {
  min-width: 21.4375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14131B;
  color: #E6E5EA;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
}
.password-generator h1 {
  font-size: 1rem;
  line-height: 1.3125rem;
  text-align: center;
  color: #817D92;
  margin-bottom: 1rem;
}
.password-generator .password-wrapper {
  width: 100%;
  background-color: #24232C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 1rem 1rem 1rem;
}
.password-generator .password-wrapper .password {
  font-size: 1.5rem;
  line-height: 2rem;
}
.password-generator .password-wrapper button {
  position: relative;
  background-color: transparent;
  outline: 0.0625rem solid transparent;
  border: 0.0625rem solid transparent;
  cursor: pointer;
}
.password-generator .password-wrapper button .copied {
  opacity: 1;
  position: absolute;
  top: -0.75rem;
  right: -1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: green;
  color: #E6E5EA;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  animation: simple 1s forwards ease;
  -webkit-animation: simple 1s forwards ease;
}
.password-generator .password-wrapper button .not-copied {
  display: none;
}
.password-generator .password-wrapper button img:hover {
  filter: brightness(0) saturate(100%) invert(96%) sepia(4%) saturate(150%) hue-rotate(211deg) brightness(97%) contrast(92%);
}
.password-generator .password-params {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #24232C;
  padding: 0 1rem;
}
.password-generator .password-params .char-len {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.password-generator .password-params .char-len section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.125rem;
}
.password-generator .password-params .char-len section p {
  line-height: 1.3125rem;
}
.password-generator .password-params .char-len section span {
  color: #A4FFAF;
  font-size: 1.5rem;
  line-height: 2rem;
}
.password-generator .password-params .char-len .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 0.5rem;
  outline: none;
  opacity: 0.7;
  background-color: #18171F;
}
.password-generator .password-params .char-len .slider:hover {
  opacity: 1;
}
.password-generator .password-params .char-len .slider::-webkit-slider-thumb, .password-generator .password-params .char-len .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  background: #E6E5EA;
  cursor: pointer;
  border-radius: 9999px;
  border: 1px solid transparent;
}
.password-generator .password-params .char-len .slider::-moz-range-thumb:hover {
  background: #18171F;
  border: 2px solid #A4FFAF;
}
.password-generator .password-params .char-len .slider::-moz-range-progress, .password-generator .password-params .char-len .slider::-webkit-slider-thumb {
  background-color: #A4FFAF;
  height: 0.5rem;
}
.password-generator .password-params .password-criterias {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.password-generator .password-params .password-criterias .criteria {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}
.password-generator .password-params .password-criterias .criteria input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  background-color: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.15em solid white;
  cursor: pointer;
}
.password-generator .password-params .password-criterias .criteria input[type=checkbox]:checked {
  background-color: #A4FFAF;
  border: 1px solid transparent;
  background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/check-mark-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
.password-generator .password-params .password-criterias label {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.password-generator .password-params .password-strength {
  width: 100%;
  background-color: #18171F;
  color: #817D92;
  height: 3.5rem;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 0 1rem;
}
.password-generator .password-params .password-strength .strength {
  color: #E6E5EA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-generator .password-params .password-strength .strength span {
  margin-right: 1rem;
  text-transform: capitalize;
}
.password-generator .password-params .password-strength .strength .strength-rectangles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.password-generator .password-params .password-strength .strength .strength-rectangles .rectangle {
  width: 0.625rem;
  height: 1.75rem;
  border: 2px solid #E6E5EA;
}
.password-generator .password-params .password-strength .strength .strength-rectangles .too-weak:nth-child(-n+1) {
  border: 1px solid transparent;
  background-color: #F64A4A;
}
.password-generator .password-params .password-strength .strength .strength-rectangles .weak:nth-child(-n+2) {
  border: 1px solid transparent;
  background-color: #FB7C58;
}
.password-generator .password-params .password-strength .strength .strength-rectangles .medium:nth-child(-n+3) {
  border: 1px solid transparent;
  background-color: #F8CD65;
}
.password-generator .password-params .password-strength .strength .strength-rectangles .strong:nth-child(-n+4) {
  border: 1px solid transparent;
  background-color: #A4FFAF;
}
.password-generator .password-params .generate {
  width: 100%;
  height: 3.5rem;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #A4FFAF;
  color: #24232C;
  border: 1px solid transparent;
  cursor: pointer;
}
.password-generator .password-params .generate span {
  margin-right: 1rem;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}
.password-generator .password-params .generate:hover {
  border: 2px solid #A4FFAF;
  background-color: transparent;
  color: #A4FFAF;
}
.password-generator .password-params .generate:hover img {
  filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(1381%) hue-rotate(63deg) brightness(101%) contrast(101%);
}

@-webkit-keyframes simple {
  50% {
    transform: translateY(-1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@keyframes simple {
  50% {
    transform: translateY(-1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .password-generator {
    min-width: 33.75rem;
  }
  .password-wrapper {
    height: 5rem;
    margin-top: 1rem !important;
  }
  .password-params {
    max-height: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
  }
  .password-params .char-len {
    margin-bottom: 2rem;
  }
  .password-params .criteria {
    margin-bottom: 0.3rem;
  }
  .password-params .password-strength {
    margin-bottom: 2rem !important;
    margin-top: 1rem !important;
  }
}/*# sourceMappingURL=PasswordGenerator.css.map */