// font
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

// variables

.password-generator{
    min-width: 21.4375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14131B;
    color: #E6E5EA;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    h1{
        font-size: 1rem;
        line-height: 1.3125rem;
        text-align: center;
        color: #817D92;
        margin-bottom: 1rem;
    }
    .password-wrapper{
        width: 100%;
        background-color: #24232C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 0 1rem 1rem 1rem;
        .password{
            font-size: 1.5rem;
            line-height: 2rem;
        }
        button{
            position: relative;
            background-color: transparent;
            outline: 0.0625rem solid transparent;
            border: 0.0625rem solid transparent;
            cursor: pointer;
            .copied{
                opacity: 1;
                position: absolute;
                top: -0.75rem;
                right: -1rem;
                padding: 0.25rem;
                border-radius: 0.5rem;
                background-color: green;
                color: #E6E5EA;
                font-family: 'JetBrains Mono';
                font-style: normal;
                font-weight: 700;
                font-size: 0.75rem;
                animation: simple 1s forwards ease;
                -webkit-animation: simple 1s forwards ease;
            }
            .not-copied{
                display: none;
            }

            img:hover{
                filter: brightness(0) saturate(100%) invert(96%) sepia(4%) saturate(150%) hue-rotate(211deg) brightness(97%) contrast(92%); 
            }
        }
    }
    .password-params{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #24232C;
        padding: 0 1rem;
        .char-len{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            section{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.125rem;
                p{
                    line-height: 1.3125rem;
                }
                span{
                    color: #A4FFAF;
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
            .slider{
                -webkit-appearance: none;
                appearance: none;
                width: 100%;
                height: 0.5rem;
                outline: none;
                opacity: 0.7;
                background-color: #18171F;
            }
            .slider:hover {
                opacity: 1;
              }
            .slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 1.75rem;
                height: 1.75rem;
                background: #E6E5EA;
                cursor: pointer;
                border-radius: 9999px;
                border: 1px solid transparent;
            }

            // may not work on chrome
            .slider::-moz-range-thumb:hover {
                background: #18171F;
                border: 2px solid #A4FFAF;
            }

            // may not work for chrome
            .slider::-moz-range-progress, .slider::-webkit-slider-thumb {
                background-color: #A4FFAF; 
                height: 0.5rem;
              }
        }

       .password-criterias{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;
        .criteria{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 1.25rem;
            input[type="checkbox"]{
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            background-color: transparent;
            width: 1.25rem;
            height: 1.25rem;
            border: 0.15em solid white;
            cursor: pointer;
            }
            input[type="checkbox"]:checked{
                background-color: #A4FFAF;
                border: 1px solid transparent;
                background-image: url(https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/check-mark-icon.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 90%;
            }
        }
        label{
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */
        }
       }
       .password-strength{
        width: 100%;
        background-color: #18171F;
        color: #817D92;
        height: 3.5rem;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem;
        padding: 0 1rem;
        .strength{
            color: #E6E5EA;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin-right: 1rem;
                text-transform: capitalize;
            }
            .strength-rectangles{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                .rectangle{
                    width: 0.625rem;
                    height: 1.75rem;
                    border: 2px solid #E6E5EA;
                }
                .too-weak:nth-child(-n+1){
                    border: 1px solid transparent;
                    background-color: #F64A4A;
                }
                .weak:nth-child(-n+2){
                    border: 1px solid transparent;
                    background-color: #FB7C58;
                }
                .medium:nth-child(-n+3) {
                    border: 1px solid transparent;
                    background-color: #F8CD65;
                }
                .strong:nth-child(-n+4){
                    border: 1px solid transparent;
                    background-color: #A4FFAF;
                }
            }
        }
       }
       .generate{
        width: 100%;
        height: 3.5rem;
        margin: 0 0 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #A4FFAF;
        color: #24232C;
        border: 1px solid transparent;
        cursor: pointer;
        span{
            margin-right: 1rem;
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
        }
       }
       .generate:hover{
        border: 2px solid #A4FFAF;
        background-color: transparent;
        color: #A4FFAF;
        img{
            filter: brightness(0) saturate(100%) invert(92%) sepia(11%) saturate(1381%) hue-rotate(63deg) brightness(101%) contrast(101%);
        }
       }
    } 
}



@keyframes simple {
  50% {
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0.5;
  }
  100% {
    -webkit-transform:  translateY(-1rem);
    -moz-transform:  translateY(-1rem);
    -ms-transform:  translateY(-1rem);
    -o-transform:  translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
}

@media screen and (min-width:768px) {
    .password-generator{
      min-width: 33.75rem;
    }
    .password-wrapper{
        height: 5rem;
        margin-top: 1rem !important;
    }
    .password-params{
        max-height: 33rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
        align-items: center;
        .char-len{
            margin-bottom: 2rem;
        }
        .criteria{
            margin-bottom: .3rem;
        }
        .password-strength{
            margin-bottom: 2rem !important;
            margin-top: 1rem !important;
        }
    }
  }